<html>
  <head>
        <title>Test</title>
        <link href="{{ url_for('static', path='/css/styles.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', path='/css/navbar.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', path='/css/about.css')}}" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <nav class="navbar">
    <div id="trapezoid">
        <a href="/" class="expandHome">Home</a>
        <a href="/create" >Create</a>
        <a href="/search" >Search</a>
        <a href="/about" >About Me</a>
    </div>
  </nav>
  <div class="wrapper">

    <canvas id="introduction-canvas"></canvas>

    <div class="introduction-canvas--overflow"></div>
    <div class="about">
        <h1>About Me</h1>
        <p>
            I am a student at John Brown University.
            I am currently a second year Computer Science student.
            I am a passionate programmer, and I am always looking to learn new things.
            I built this website to help me learn more about programming and to help me find new projects to work on.
            I hope you enjoy my work!
        </p>


        <a href="LINK"> <i class="fa fa-github"></i> Github</a>
        <a href="LINK">LinkedIn</a>
        <a href="LINK">Resume</a>
        <a href="LINK">Email</a>

    </div>

  </div>


    <script type="text/javascript" src="{{ url_for('static', path='/js/background.js')}}"></script>

  </div>



</html>
